{% extends 'base.html' %}
{% block content %}
    <h2>Hello, World!</h2>
    <p>Authentic kinfolk cronut, actually thundercats echo park before
        they sold out flannel pickled meditation single-origin coffee
        migas. Sriracha you probably haven't heard of them wolf sustainable
        authentic, pour-over bicycle rights stumptown austin cred
        hella godard irony put a bird on it PBR&B. Neutra disrupt
        selfies blue bottle, quinoa drinking vinegar whatever.
        Cred DIY celiac shabby chic freegan flannel ennui, fingerstache
        photo booth echo park. Ramps pitchfork health goth shabby chic
        next level flannel bespoke, blog XOXO narwhal franzen man braid
        vice four dollar toast. Twee biodiesel lo-fi franzen pop-up
        poutine. Affogato skateboard disrupt, bicycle rights waistcoat
        austin direct trade.</p>
    <hr>
    <p>Authentic kinfolk cronut, actually thundercats echo park before
        they sold out flannel pickled meditation single-origin coffee
        migas. Sriracha you probably haven't heard of them wolf sustainable
        authentic, pour-over bicycle rights stumptown austin cred
        hella godard irony put a bird on it PBR&B. Neutra disrupt
        selfies blue bottle, quinoa drinking vinegar whatever.
        Cred DIY celiac shabby chic freegan flannel ennui, fingerstache
        photo booth echo park. Ramps pitchfork health goth shabby chic
        next level flannel bespoke, blog XOXO narwhal franzen man braid
        vice four dollar toast. Twee biodiesel lo-fi franzen pop-up
        poutine. Affogato skateboard disrupt, bicycle rights waistcoat
        austin direct trade.</p>
{% endblock %}